<div id="banner" class="notice" aria-label="announcement">
  <!--
	<p>Consider <a href="/membership">becoming a Member</a> of the OWASP Foundation. It's affordable and your contributions make a difference.</p>
  -->
 
	<p><a href="https://events.bizzabo.com/OWASPGlobalAppSec" target="_blank">Register now</a> for Global AppSec 2020. Great keynotes, training, over 60 education sessions, and more.</p>
	
	<a href="#" id="close-banner" aria-label="close announcement">
          <i class="fa fa-times"></i>
       </a>	  
</div>

<style>
  #banner img {
    max-width: 30em;
  }

  @media (max-width: 1131px) {
    #banner img{
      max-width: 30em;
    }
	}

@media (max-width: 800px) {
	#banner img{
      max-width: 20em;
    }
}

@media (max-width: 600px) {
	#banner img{
      max-width: 20em;
    }
}

@media (max-width: 450px) {
	#banner img{
      max-width: 250px;
  }
}
</style>
