<div id="banner" class="notice" aria-label="announcement">
  <!--
	<p>Consider <a href="/membership">becoming a Member</a> of the OWASP Foundation. It's affordable and your contributions make a difference.</p>
  -->
  <p>OWASP Chapters All Day - 24hrs of Virtual Chapter Meetings <a href="/www-community/social/chapters_all_day/" style='margin-left: 8px;'>Learn More</a></p>
	<a href="#" id="close-banner" aria-label="close announcement">
          <i class="fa fa-times"></i>
       </a>	  
</div>

<style>
  #banner img {
    max-width: 30em;
  }

  @media (max-width: 1131px) {
    #banner img{
      max-width: 30em;
    }
	}

@media (max-width: 800px) {
	#banner img{
      max-width: 20em;
    }
}

@media (max-width: 600px) {
	#banner img{
      max-width: 20em;
    }
}

@media (max-width: 450px) {
	#banner img{
      max-width: 250px;
  }
}
</style>
