<div id="banner" class="notice" aria-label="announcement">
</div>

{% assign dev_file = site.static_files | where: "name", "devsite.txt" %}
{% if dev_file.size > 0 %}
{% assign site_base_url = '' %}
{% else %}
{% assign site_base_url = site.github.url | replace: 'owasp.github.io','owasp.org' | replace: 'http://', 'https://' %}
{% endif %}

<style>
  #banner img {
    max-width: 30em;
  }

  @media (max-width: 1131px) {
    #banner img {
      max-width: 30em;
    }
  }

  @media (max-width: 800px) {
    #banner img {
      max-width: 20em;
    }
  }

  @media (max-width: 600px) {
    #banner img {
      max-width: 20em;
    }
  }

  @media (max-width: 450px) {
    #banner img {
      max-width: 250px;
    }
  }
</style>

<script type="text/javascript">
  $(function () {
    var bannerdata = [];
    banneryaml = YAML.load('{{site_base_url}}/assets/sitedata/banner-data.yml');
    $.each(banneryaml, function (index) {
      bannerdata.push(this);
    });

    if (bannerdata.length > 0) {
      var htmlstring = "";
      var usebanner = null;
      var defbanner = null;
      var checkdate = new Date(); //local time but who cares about the time?
      bannerdata.forEach(data => {
        if (data.start) {
          var start = data.start;

          if (data.start <= checkdate) {
            if (data.end) {

              var end = data.end;
              if (checkdate < end) {
                usebanner = data;
              }
            }
            else
              usebanner = data;
          }
        }
        else {
          defbanner = data;
        }
      });

      if (defbanner && !usebanner)
        usebanner = defbanner;
      if (usebanner) {
        htmlstring = usebanner.text;
        htmlstring += "<a href='#' id='close-banner' aria-label='close announcement' style='float:right;'><i class='fa fa-times'></i></a>";

        $("#banner").html(htmlstring);
        $("#banner").removeClass("notice");
        $("#banner").addClass(usebanner.type);

        $("#close-banner").click(function() {
          $(this).closest("#banner").remove();
            Cookies.set('banner-seen', 'true', { expires: 7 });
        });
      }
    }
  });
</script>