<!-- this include file requires an include parameter group -->
<div id='ch_events_div'>
</div>

<script type='text/javascript'>
    $(function() {
      // stuff here to load chapter events
      var groupname = '{{ include.group }}';
      $("#ch_events_div").html('hello');
      $.get("https://owaspadmin.azurewebsites.net/api/GetMeetupEvents?code=7OIbdfrvam1q5dbaZyN5JTZodrtWRHtnzBTtRB8ed1HT2Stax0iLNw==&group=" + groupname), function(data) {
        
        $("#ch_events_div").text('Yes, it worked.');
      }  
    });

  </script>
