<div class="left-sidebar" role="complementary">
{% assign document = site.data.document | where: 'title', page.document | first %}
<h1>{{ document.title }}</h1>
<ul class='doc-chapter-ul'>  
{% for chapter in document.chapters %}
{% assign class = 'doc-chapter' %}
{% if forloop.first == true %}
  {% assign class = 'doc-chapter active-section' %}
{% endif %}
<li class='{{class}}'>{% if chapter.url %}<a href='{{ chapter.url }}'>{% endif %}<h2>{{ chapter.title }}</h2>{% if chapter.url %}</a>{% endif %}</li>
<ul class='doc-page-ul'>
  {% for page in chapter.pages %}
  <li class='doc-page'>{% if page.url %}<a href='{{ page.url }}'>{% endif %}<h3>{{ page.title }}</h3>{% if page.url %}</a>{% endif %}</li>
  {% endfor %}
</ul>
{% endfor %} 
</ul>
</div>