<div class="left-sidebar" role="complementary">
{% assign document = site.data.document | where: 'title', page.document | first %}
<h1>{{ document.title }}</h1>
<ul class='doc-chapter-ul'>  
{% for chapter in document.chapters %}
{% assign class = 'doc-chapter' %}
{% if forloop.index == 0 %}
  {% assign class = 'doc-chapter active-section' %}
{% endif %}
<li class='{{class}}'><h2>{{ chapter.title }}</h2></li>
<ul class='doc-page-ul'>
  {% for page in chapter.pages %}
  <li class='doc-page'><h3>{{ page.title }}</h3></li>
  {% endfor %}
</ul>
{% endfor %} 
</ul>
</div>
