{% if site.data.pricing.size > 0 %}
{% assign register-text = 'Register' %}
{% if site.data.event-details.registertext %}
{% assign register-text = site.data.event-details.registertext %}
{% endif %}
{% if site.data.event-details.pricing-title %}
{% assign pricing-title = site.data.event-details.pricing-title %}
{% else %}
{% assign pricing-title = 'Conference Pricing' %}
{% endif %}
<div class="event-pricing-two">
    <div class="full-width">
      <div class="nav-button nav-button-event" aria-label="register for event">
        <a href="{{ site.data.event-details.registration_url }}" class="cta-button blue">{{register-text}}</a>
    </div>
    <h3>{{pricing-title}}</h3>
    <div class='full-width'>
      <ul>
        {% for price in site.data.pricing %}
        <li class='event-price-title'>{{ price.title }}:<div class='event-price'>{{ price.price }}</div></li>
        {% if price.info %}
        <li class="event-price-info">{{price.info}}</li>
        {% endif %}
        {% for subitem in price.items %}
        {% if forloop.first %}<ul>{% endif %}
        <li class='event-price-title'>{{ subitem.title }}:<div class='event-price'>{{ subitem.price }}</div></li>
        {% if subitem.info %}
        <li class="event-price-info">{{subitem.info}}</li>
        {% endif %}
        {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    </div>
  </div>
  {% endif %}