<footer class="footer-two">
    <section class="member">
            <div class="member-wrapper">
              <section class="member-list">
{% if site.data.sponsors.size > 0 %}                   
{% assign corpsupporters = site.data.sponsors | where: 'type', 'corporate' | sort_natural: 'name' %}
{% assign eventsupporters = site.data.sponsors | where_exp: 'sponsor', 'sponsor.type != "corporate"' | sort_natural: 'name' %}
{% endif %}
{% if corpsupporters.size > 0 %}
<h2>Corporate Supporters</h2>
<div id="corp_member_div">
{% for member in corpsupporters %}
<a href="{{member.url}}" class="member-logo" onclick='handleOutboundLinkClicks(event);' target="_blank" rel="sponsored noopener noreferrer"><img src="{{member.logo}}" alt="image"/></a>
{% endfor %}
</div>
{% endif %}
{% if eventsupporters.size > 0 %}
<h2>Event Sponsors</h2><br/>
<div id="event_member_div">
{% assign previous_name = '' %}
{% assign unique_supporters = '' | split: ',' %}
{% for sponsor in eventsupporters %}
{% unless sponsor.name == previous_name %}
{% assign unique_supporters = unique_supporters | push: sponsor %}
{% endunless %}
{% assign previous_name = sponsor.name %}
{% endfor %}
{% for member in unique_supporters %}
<a href="{{member.url}}" class="member-logo" onclick='handleOutboundLinkClicks(event);' target="_blank" rel="sponsored noopener noreferrer"><img src="{{member.logo}}" alt="image"/></a>
{% endfor %}
</div> 
{% endif %} 
              </section>
            </div>
          </section>
          
    <section class="footer-wrapper-two">
      {% include social.html %}<br>
      <p class="disclaimer">OWASP, the OWASP logo, and Global AppSec are registered trademarks and AppSec Days, AppSec California, AppSec Cali, SnowFROC, Boston Application Security Conference, and LASCON are trademarks of the OWASP Foundation, Inc. Unless otherwise specified, all content on the site is Creative Commons Attribution-ShareAlike v4.0 and provided without warranty of service or accuracy. For more information, please refer to our <a href="/www-policy/operational/general-disclaimer.html">General Disclaimer</a>. OWASP does not endorse or recommend commercial products or services, allowing our community to remain vendor neutral with the collective wisdom of the best minds in software security worldwide. Copyright {{ "now" | date: "%Y" }}, OWASP Foundation, Inc.</p>
    </section>
  </footer>
