<footer>
        <section class="member">
                <div class="member-wrapper">
                  <section class="member-list">
{% if site.data.sponsors.size > 0 %}                   
{% assign corpsupporters = site.data.sponsors | where: 'type', 'corporate' | sort: 'name' %}
{% assign eventsupporters = site.data.sponsors | where_exp: 'sponsor', 'sponsor.type != "corporate"' | sort: 'name' %}
{% endif %}
{% if corpsupporters.size > 0 %}
<h2>Corporate Supporters</h2>
<div id="corp_member_div">
  {% for member in corpsupporters %}
  <a href="{{member.url}}" class="member-logo" rel="sponsored" onclick='handleOutboundLinkClicks(event);' target="_blank"><img src="{{member.logo}}" alt="image"/></a>
  {% endfor %}
</div>
{% endif %}
{% if eventsupporters.size > 0 %}
<h2>Event Supporters</h2><br/>
<div id="event_member_div">
{% for member in eventsupporters %}
  <a href="{{member.url}}" class="member-logo" rel="sponsored" onclick='handleOutboundLinkClicks(event);' target="_blank"><img src="{{member.logo}}" alt="image"/></a>
{% endfor %}
</div> 
{% endif %} 
                  </section>
                </div>
              </section>
              
        <section class="footer-wrapper">
          <p class="disclaimer">
              Open Web Application Security Project, OWASP, Global AppSec, AppSec Days, AppSec California, SnowFROC, LASCON, and the OWASP logo are trademarks of the OWASP Foundation.
          </p>
        </section>
      </footer>
