<footer>
        <section class="member">
                <div class="member-wrapper">
                  <section class="member-list">
                    <h2>Event Sponsors</h2>
                    
{% assign diamondmembers = site.data.sponsors | where: 'type', 'Diamond' | sort: 'name' %}
{% assign platinummembers = site.data.sponsors | where: 'type', 'Platinum' | sort: 'name' %}
{% assign goldmembers = site.data.sponsors | where: 'type', 'Gold' | sort: 'name' %}
{% assign silvermembers = site.data.sponsors | where: 'type', 'Silver' | sort: 'name' %}
{% assign sapphiremembers = site.data.sponsors | where: 'type', 'Sapphire' | sort: 'name' %}
{% assign rubymembers = site.data.sponsors | where: 'type', 'Ruby' | sort: 'name' %}
{% assign lanyardmembers = site.data.sponsors | where: 'type', 'Lanyard' | sort: 'name' %}
  <h3>Corporate Sponsors</h3>
  <div id="corp_member_div">
  {% for member in diamondmembers %}
  <a href="{{member.url}}" class="member-logo" rel="sponsored" onclick='handleOutboundLinkClicks(event);' target="_blank"><img src="{{member.logo}}" alt="image"/></a>
{% endfor %}
{% for member in platinummembers %}
  <a href="{{member.url}}" class="member-logo" rel="sponsored" onclick='handleOutboundLinkClicks(event);' target="_blank"><img src="{{member.logo}}" alt="image"/></a>
{% endfor %}
{% for member in goldmembers %}
  <a href="{{member.url}}" class="member-logo" rel="sponsored" onclick='handleOutboundLinkClicks(event);' target="_blank"><img src="{{member.logo}}" alt="image"/></a>
{% endfor %}
{% for member in silvermembers %}
  <a href="{{member.url}}" class="member-logo" rel="sponsored" onclick='handleOutboundLinkClicks(event);' target="_blank"><img src="{{member.logo}}" alt="image"/></a>
{% endfor %}
  </div>
<h3>Event Sponsors</h3><br/>
<div id="corp_member_div">
{% for member in sapphiremembers %}
  <a href="{{member.url}}" class="member-logo" rel="sponsored" onclick='handleOutboundLinkClicks(event);' target="_blank"><img src="{{member.logo}}" alt="image"/></a>
{% endfor %}
{% for member in rubymembers %}
  <a href="{{member.url}}" class="member-logo" rel="sponsored" onclick='handleOutboundLinkClicks(event);' target="_blank"><img src="{{member.logo}}" alt="image"/></a>
{% endfor %}
{% for member in lanyardmembers %}
  <a href="{{member.url}}" class="member-logo" rel="sponsored" onclick='handleOutboundLinkClicks(event);' target="_blank"><img src="{{member.logo}}" alt="image"/></a>
{% endfor %}
</div>  
                  </section>
                </div>
              </section>
              
        <section class="footer-wrapper">
          <p class="disclaimer">
              Open Web Application Security Project, OWASP, Global AppSec, AppSec Days, AppSec California, SnowFROC, LASCON, and the OWASP logo are trademarks of the OWASP Foundation.
          </p>
        </section>
      </footer>
