<div class="github-buttons">
    <a class="github-button" href="https://github.com/{{ site.code_user | default: 'owasp' }}/{{ site.code_repo | default: site.github.repository_name }}/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch on GitHub">Watch</a>
    <a class="github-button" href="https://github.com/{{ site.code_user | default: 'owasp' }}/{{ site.code_repo | default: site.github.repository_name }}" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star on GitHub">Star</a>
 </div>