<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% assign default_desc = page.title | append: ' on the main website for The OWASP Foundation.' %}
<meta name="description" content="{{ page.pitch | default: default_desc }}">
<link rel="stylesheet" href="https://www2.owasp.org/www--site-theme/assets/css/styles.css">
<link rel="shortcut icon" type="images/x-icon" href="https://www2.owasp.org/www--site-theme/favicon.ico">
<script src="https://www2.owasp.org/www--site-theme/assets/js/jquery-3.4.1.min.js"></script>
<script src="https://www2.owasp.org/www--site-theme/assets/js/util.js"></script>
<script src="https://www2.owasp.org/www--site-theme/assets/js/js.cookie.js"></script>
<script src="https://www2.owasp.org/www--site-theme/assets/js/yaml.min.js"></script>
<title>{{ page.title }}</title>
