<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% assign default_desc = page.title | append: ' on the main website for The OWASP Foundation. OWASP is a nonprofit foundation that works to improve the security of software.' %}
{% assign dev_file = site.static_files | where: "name", "devsite.txt" %}
{% if dev_file.size > 0 %}
{% assign site_base_url = '/' %}
{% else %}
{% assign site_base_url = 'https://owasp.org/www--site-theme/' %}
{% endif %}
<meta name="description" content="{{ page.pitch | default: default_desc }}">
<meta property="og:description" content="{{ page.pitch | default: default_desc }}">
<meta propery="og:title" content="{{ page.title }}{% unless page.title contains 'OWASP' %} | OWASP{% endunless %}">
<meta property="og:url" content="{{site.github.url | replace: 'www2.', ''}}{{page.url}}">
<meta property="og:locale" content="en_US">

<!-- should probably look at using article at some point for www-community at least -->
<meta property="og:type" content="website" />
<meta property="og:image" content="{{site_base_url}}favicon.ico" />
<meta http-equiv="X-Content-Type-Options" content="nosniff">
<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
<meta http-equiv="X-XSS-Protection" content="1; mode=block">

<!-- Global site tag (gtag.js) - Google Analytics -->

<link rel="canonical" href="{{site.github.url | replace: 'www2.', ''}}{{page.url | replace: '.html', ''}}" />
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4531126-1"></script> -->
<!-- <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-4531126-1');
</script> -->
<!-- Google Analytics -->
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-4531126-1', 'auto');
  ga('send', 'pageview');

  function handleOutboundLinkClicks(event) {
  ga('send', 'event', {
    eventCategory: 'Outbound Link',
    eventAction: 'click',
    eventLabel: event.target.href,
    transport: 'beacon'
  });
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
<link rel="stylesheet" href="{{site_base_url}}assets/css/styles.css">
<link rel="shortcut icon" type="images/x-icon" href="{{site_base_url}}favicon.ico">


<script src="{{site_base_url}}assets/js/jquery-3.4.1.min.js"></script>
<script src="{{site_base_url}}assets/js/util.js"></script>
<script src="{{site_base_url}}assets/js/js.cookie.js"></script>
<script src="{{site_base_url}}assets/js/yaml.min.js"></script>
<title>{{ page.title }}{% unless page.title contains 'OWASP' %} | OWASP{% endunless %}</title>
