<section class="member">
{% assign dev_file = site.static_files | where: "name", "devsite.txt" %}
{% if dev_file.size > 0 %}
{% assign site_base_url = 'https://owasp.org' %}
{% else %}
{% assign site_base_url = '' %}
{% endif %}
  <script type="text/javascript">
    var members = [];
    $(function() {
      
      corp_members = YAML.load('{{site_base_url}}/assets/sitedata/corp_members.yml');
      $.each(corp_members, function (index) {
        members.push(this);
        });
        var randomIndexUsed = [];
        var counter = 0;
        var numberOfImages = 9;
        if(members.length > 0)
        {
          var htmlstring = "";
          while (counter < numberOfImages)
          {
              var randomIndex;
              var img;

              randomIndex = Math.floor(Math.random() * members.length);

              if (randomIndexUsed.indexOf(randomIndex) == "-1")
              {
                  counter++;
                  htmlstring += '<a href="'+ members[randomIndex]["url"] + '" class="member-logo" rel="sponsored" target="_blank" onclick="handleOutboundLinkClicks(event);"><img src="{{site_base_url}}' + members[randomIndex]["image"] + '" alt="image"/></a>';
                  
                  randomIndexUsed.push(randomIndex);
              }
          }

          $("#corp_member_div").html(htmlstring);
         
          var randi = Math.floor(Math.random() * members.length);
          htmlstring = '<h2>Spotlight: ' + members[randi]["name"] + '</h2>';
          htmlstring += '<a href="'+ members[randi]["url"] + '" rel="sponsored" target="_blank" onclick="handleOutboundLinkClicks(event);"><img src="{{site_base_url}}' + members[randi]["image"] + '" alt="image" /></a>';
          htmlstring += '<p>' + members[randi]["description"] + '</p>';
          $(".member-spotlight").html(htmlstring);
        }
    });
  </script>
  <div class="member-wrapper">
    <section class="member-spotlight">
    </section>
    <section class="member-list">
      <h2>Corporate Supporters</h2>
      <div id="corp_member_div">
      </div>
      <div class="member-cta">
        <a class="callout-link" href="/supporters">Become a corporate supporter</a>
      </div>
    </section>
  </div>
</section>
