<section class="news-events" aria-label="news and events section">
  <h3>Recent OWASP News & Opinions</h3>
  <ul>
  {% for post in site.posts | offset: 1 | limit: 4 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a><span style="color:#7C7C7C">, {{ post.date | date: "%B %e, %Y" }}</span></li>	
  {% endfor %}	
  </ul>	
  <h3>Upcoming Conferences</h3>
  <ul>
  {% assign category = site.data.events | where: 'category', 'Global' | first %}
  {% assign eventlistlower = category.events %}
  {% for event in eventlistlower | sort: 'start-date' | limit: 4 %}
  <li><a href='{{ event.url }}' target='_blank' rel="noopener noreferrer">{{ event.name }}</a><span style="color:#7C7C7C">, {{ event.dates }}</span></li>
  {% endfor %}
 </ul>
</section>
