<section class="news-events" aria-label="news and events section">
  <h3>Recent News & Opinions</h3>
  <ul>
    <li><a href="#">OWASP will be launching a new child organization named SmOWASP, planned for execution within the next year</a></li>
    <li><a href="#">All new OWASP homesite now features a bingo section</a></li>
    <li><a href="#">2-week site maintenance announcement</a></li>
  </ul>
  <h3>Upcoming events</h3>
  <ul>
    <li><a href="#">AppSec Wakanda 2020 (Registration Open) </a></li>
    <li><a href="#">ReCONnect 2022</a></li>
  </ul>
</section>