<h3>Upcoming Global Events</h3>
   <ul>
      <li><a href="/www-staff/projects/202002-Projects-Summit-Q1?utm_source=owasp-web&utm_medium=right-col&utm_campaign={{ site.github.repository_name }}" target="_blank">OWASP Projects Summit, Feb 27-29th</a></li>
      <li><a href="https://dublin.globalappsec.org/?utm_source=owasp-web&utm_medium=right-col&utm_campaign={{ site.github.repository_name }}" target="_blank">Global AppSec Dublin June 15-19th</a></li>
      <li><a href="https://sf.globalappsec.org/?utm_source=owasp-web&utm_medium=right-col&utm_campaign={{ site.github.repository_name }}" target="_blank">Global AppSec SF October 19th-23rd</a></li>
   </ul>
