<div class='owasp-sidebar-bottom'>
<h3>Upcoming OWASP Global Events</h3>
<div id='global-event-div'>

</div>
</div>
{% assign site_base_url = 'https://owasp.org' %}
<script type="text/javascript">
   var events = [];
   $(function() {
     eventsyml = YAML.load('{{ site_base_url }}/assets/sitedata/events.yml');
 
     $.each(eventsyml, function (index) {
        if(this.category == 'Global'){
               for(e in this.events){
                 events.push(this.events[e]);
               }
           }
       });
   
       if(events.length > 0){
          var htmlstring = "<ul>";
          for(evnt in events){
            if(events[evnt].url)
               htmlstring += '<li><a href="'+ events[evnt].url 
             else
               htmlstring += '<li><a href="https://owasp.org/events/'
               
            htmlstring += '" target="_blank rel="noopener">' + events[evnt].name + '</a>';
            htmlstring += "<ul><li style='list-style-type: circle;margin-top: 0px;padding:0px;margin-left:16px;'>" + events[evnt].dates + "</li></ul></li>";
          }         
          htmlstring += "</ul>";
 
          $("#global-event-div").html(htmlstring);
       }
    });
 </script>
   
