<div class="sidebar" role="complementary">
    {% assign pathparts = page.path | split: '/' %}

    {% assign cleanpath = '' %}
    {% for parts in pathparts %}
        {% if parts.size == 1 or forloop.last == false %}{% assign cleanpath = cleanpath | append: parts | append: '/' %}{% endif %}
    {% endfor %}
    {% assign cleanpath = cleanpath | strip %}   
{% assign infopath = cleanpath | append: 'info.md' %}
{% assign lpath = cleanpath | append: 'leaders.md' %}
{% for static_file in site.static_files %}
  {% if static_file.path contains infopath %}
    {% assign project_info = true %}
  {% elsif static_file.path contains lpath %}
    {% assign has_leaders = true %}
  {% endif %}
{% endfor %}
  
  {% include owasp-about.html %}

  {% if project_info %}
  {% capture my_include %}{% include_relative /info.md %}{% endcapture %}
  {{ my_include | markdownify }}
  {% elsif site.github.url contains 'www--site-theme' %}
  <div>
   <h3>Project Information</h3>	
   <ul>	
    <li>builder</li>	
    <li>defender</li>	
    <li>breaker</li>	
  </ul>	
</div>
  <div>
    <h3>Downloads</h3>
    <ul>
      <li><a href="#">Version 2.8.1</a></li>
      <li><a href="#">Roadmap (PDF)</a></li>
      <li><a href="#">License</a></li>
    </ul>
  </div>
  <div>
    <h3>Code Repository</h3>
    <ul>
      <li><a href="#">za-proxy</a></li>
      <li><a href="#">zap-extensions</a></li>
    </ul>
  </div>
  {% endif %}
  
  {% if has_leaders %}
  {% capture lead_include %}{% include_relative /leaders.md %}{% endcapture %}
  {{ lead_include | markdownify }}
  {% elsif site.github.url contains 'www--site-theme' %}
  
  <div>
    <h3>Leaders</h3>	
    <ul>	
      <li><a href="#">Bill Smith</a></li>	
      <li><a href="#">Sandy Struthers</a></li>	
      <li><a href="#">Jill Ridgers-Smith</a></li>	
    </ul>	
  </div>
  {% endif %}

  {% include owasp-global-events.html %}

  <!--<div>
    <h3>OWASP News & Opinions</h3>
    <ul>
    {% comment %}
    {% for post in site.posts | limit: 5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>	
    {% endfor %}
    {% endcomment %}	
    </ul>	
  </div>-->
</div>
