<div class="sidebar" role="complementary">
   <p><strong>The OWASP Foundation</strong> works to improve the security of software through its community-led open source software projects, hundreds of local chapters worldwide, tens of thousands of members, and by hosting local and global conferences.</p>
   
   <h3>Upcoming Global Events</h3>
   <ul>
      <il><a href="/www-staff/projects/202002-Projects-Summit-Q1/?utm_source=owasp-web&utm_medium=right-col&utm_campaign={{ site.github.repository_name }}" target="_blank">OWASP Projects Summit, Feb 27-29th</a></li>
      <il><a href="https://dublin.globalappsec.org/?utm_source=owasp-web&utm_medium=right-col&utm_campaign={{ site.github.repository_name }}" target="_blank">Global AppSec Dublin, June 15-19th</a></li>
      <il><a href="https://sf.globalappsec.org/?utm_source=owasp-web&utm_medium=right-col&utm_campaign={{ site.github.repository_name }}" target="_blank">OGlobal AppSec SF, October 19th-23rd</a></li>
   </ul>
   <!--<div class="news-events-wrapper">
    <h3>OWASP News & Opinions</h3>
      <ul>
      {% comment %}
      {% for post in site.posts | limit: 10 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>	
      {% endfor %}
      {% endcomment %}	
      </ul>	
   </div>-->
</div>

