<section class="social">
<a href="https://owasp-slack.herokuapp.com" target="_blank;"><i class="fa fa-slack"></i></a>
<a href="https://www.facebook.com/OWASPFoundation" target="_blank;"><i class="fa fa-facebook-square"></i></a>
<a href="https://twitter.com/owasp" target="_blank;"><i class="fa fa-twitter"></i></a>
<a href="https://www.linkedin.com/company/owasp/" target="_blank;"><i class="fa fa-linkedin"></i></a>
<a href="https://www.youtube.com/user/OWASPGLOBAL" target="_blank;"><i class="fa fa-youtube-square"></i></a>
</section>