<nav class="sub-nav" role="navigation" aria-label="navigate page tabs">
  <ul role="tablist">
    {% assign sorted_pages = site.pages | where: "tab", "true" | sort:"order" %}
    {% for file in sorted_pages %}
      {% if file.name contains "tab_info" %}
        <li>
            <a href="#" id="{{ file.title | downcase }}-link" class="tab-link" role="tab" aria-selected="true" aria-controls="{{ file.title | downcase }}" tabindex="0">{{ file.title }}</a>
        </li>
      {% else %}
        <li>
            <a href="#" id="{{ file.title | downcase }}-link" class="tab-link" role="tab" aria-selected="false" aria-controls="{{ file.title | downcase }}" tabindex="0">{{ file.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
<script type="text/javascript">
  $(function(){
    $('.tab-link').click(function() {
      var page = {{ page.basepath }} + "tab_info";
      
      if($(this).attr('id').toLowerCase().indexOf('main') == -1)
      {
        page = {{ page.basepath }} + 'tab_' + $(this).attr('id').toLowerCase().replace('-link','');
      }
      $('.page-body').load(page);
    });
  });
</script>
