---
---

<nav class="sub-nav" role="navigation" aria-label="navigate page tabs">
  <ul role="tablist">
    {% assign sorted_pages = site.pages | where: "tab", "true" | sort:"order" %}
    {% if sorted_pages %}
      <li>
          <a href="{{ page.url }}" id="main-link" class="tab-link" role="tab" aria-selected="true" aria-controls="main">Main</a>
     </li>
    {% endif %}
    {% for file in sorted_pages %}
      {% if file.name contains "tab_info" %}
        <li>
            <a href="#" id="{{ file.title | downcase }}-link" class="tab-link" role="tab" aria-selected="true" aria-controls="{{ file.title | downcase }}">{{ file.title }}</a>
        </li>
      {% else %}
        <li>
            <a href="#" id="{{ file.title | downcase }}-link" class="tab-link" role="tab" aria-selected="false" aria-controls="{{ file.title | downcase }}">{{ file.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
<script type="text/javascript">
  $(function(){
    $('.tab-link').click(function() {
      var page_path = '{{ page.path }}';
      // the problem is that page.url is correct for main site but page_path works for subsites...
      var page = '{{ page.url }}'; // for main, reload the page
      
      if($(this).attr('id').toLowerCase().indexOf('main') == -1)
      {
        page_path = page_path.substring(0, page_path.lastIndexOf('/') + 1);
        page = page_path + 'tab_' + $(this).attr('id').toLowerCase().replace('-link','');
        $('.page-body').load(page);
      }
      else
      {
        // need to fix this for zap 
        if(page_path.endsWith('/'))
           page = '{{ site.url }}' + '{{site.baseurl}}';
        
        alert("page_path: " + page_path + ", page: " + page + ", site:" + '{{site.url}}' + ", baseurl:" + '{{site.baseurl}}' + ", githuburl:" + '{{site.github.url}}');
        window.location.href = page;
      }
      
    });
  });
</script>
