<nav class="sub-nav" role="navigation" aria-label="navigate page tabs">
  <ul role="tablist">
    <li>
        <a href="#" id="main-link" class="tab-link" role="tab" aria-selected="true" aria-controls="main" tabindex="0">Main</a>
    </li>
    <li>
        <a href="#" id="screenshots-link" class="tab-link" role="tab" aria-selected="false" aria-selected="screenshots" tabindex="-1">Screenshots</a>
    </li>
    <li>
        <a href="#" id="features-link" class="tab-link" role="tab" aria-selected="false" aria-selected="features" tabindex="-1">Features</a>
    </li>
    <li>
        <a href="#" id="talk-link" class="tab-link" role="tab" aria-selected="false">Talk</a>
    </li>
    <li>
        <a href="#" id="news-link" class="tab-link" role="tab" aria-selected="false">News</a>
    </li>
    <li>
        <a href="#" id="gear-link" class="tab-link" role="tab" aria-selected="false">Gear</a>
    </li>
    <li>
        <a href="#" id="supporters-link" class="tab-link" role="tab" aria-selected="false">Supporters</a>
    </li>
    <li>
        <a href="#" id="languages-link" class="tab-link" role="tab" aria-selected="false">Languages</a>
    </li>
  </ul>
</nav>