/*
general styling for general items
use titillium for content display, ubuntu for UI elements
*/


// base font styling
h1, h2, h3, h4, h5, h6, strong {
  font-family: 'titillium', sans-serif;
  font-weight: bold;
}

body,
input[type='text'] {
  font-family: 'titillium', sans-serif;
  font-size: $font-size; // 18px; use multiples of 1.5 for font tweaks
}

hr {
  grid-column: 1/3;
  margin: 10px 0;
  border: 1px solid whitesmoke;
}

em, q {
  font-family: 'titillium_italic', sans-serif;
}

nav, select {
  font-family: 'ubuntu', sans-serif;
}

code {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  background-color: #f6f8fa;
}

a {
  color: $cta-blue;
  text-decoration: none;
  &:hover {
    color: lighten($cta-blue, 5%);
    text-decoration: underline;
  }
  &:active {
    color: darken($cta-blue, 10%);
  }
  &:visited {
    color: $cta-blue;
    text-decoration: none;
  }
}

// basic layout spec
.header-wrapper,
.main-wrapper,
.member-wrapper,
.footer-wrapper {
  max-width: $grid-val * 43; // 30 * 43 = 1290px
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  & > * {
    margin-left: 15px;
    margin-right: 15px;
  }
}

main {
  img {
    max-width: 100%;
  }
}

.base-grid { // default to mobile grid of 1 column
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  grid-template-areas: "header" "body" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: body;
}

footer {
  grid-area: footer;
}

// blocker div for resolving am unintended jQuery behavior
#blocker{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.repo {
  margin-left: 20px;
}