/*
general styling for general items
use roboto for content display, ubuntu for UI elements
*/


// base font styling
h1, h2, h3, h4, h5, h6, strong {
  font-family: $site-font, sans-serif;
  font-weight: bold;
  margin-block-start: .45em;
  margin-block-end: .15em;
}

p {
  margin-block-start: .25em;
  margin-block-end: .5em;
}

body,
input[type='text'] {
  font-family: $site-font, sans-serif;
  font-size: $font-size; // 18px; use multiples of 1.5 for font tweaks
}

hr {
  grid-column: 1/3;
  margin: 10px 0;
  border: 1px solid whitesmoke;
}

em, q {
  font-family: $site-font-italic, sans-serif;
}

nav, select, button {
  font-family: $site-font, sans-serif;
}



a {
  color: $cta-blue;
  text-decoration: none;
  &:hover {
    color: lighten($cta-blue, 5%);
    text-decoration: underline;
  }
  &:active {
    color: darken($cta-blue, 10%);
  }
  &:visited {
    color: $cta-blue;
    text-decoration: none;
  }
}

// basic layout spec
.header-wrapper,
.event-header-wrapper,
.main-wrapper,
.alt-wrapper,
.member-wrapper,
.footer-wrapper,
.alt-member-wrapper {
  max-width: $grid-val * 44; // 30 * 45 = 1320px
  width: 100%;
  margin: 0 auto;
  padding: 0;
  & > * {
    margin-left: 0px;
    margin-right: 30px;
  }
}

main {
  img {
    max-width: 100%;
  }
}

.base-grid { // default to mobile grid of 1 column
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  grid-template-areas: "header" "body" "footer";
}

.full-width {
  width: 100%;
}

header {
  grid-area: header;
}

main {
  grid-area: body;
}

footer {
  grid-area: footer;
  margin-left: 1em;
}

.social {
  float: right;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: $bg-blue;
    }
  }
}

// blocker div for resolving am unintended jQuery behavior
#blocker{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display:none;
}


.repo {
  margin-left: 20px;
  grid-area: 7;
  display: flex;
  align-items: center;
}

.warning {
  background-color: $warning;
  color: white;
  text-align: center;
}

.alert {
  background-color: $alert;
  padding: 10px;
  padding-left: 15px;
}

.bigheader {
  font-size: 48pt;
  max-width: 768px;
  line-height:normal;
}

@media screen and (max-width: $header-bp - 1) { // 1019px
  // replace desktop nav with mobile nav
  code {
    max-width:88%;
  }
  
}

// add some left padding when the screen becomes the almost width of the content
@media screen and (max-width: $grid-val * 45) {
  .main-wrapper,
  .alt-wrapper,
  .member-wrapper,
  .alt-member-wrapper,
  .footer-wrapper,
  .header-wrapper,
  .event-header-wrapper {
    padding-left: 1em;
  }
}
