/*
general styling for general items
use titillium for content display, ubuntu for UI elements
*/


// base font styling
h1, h2, h3, h4, h5, h6, strong {
  font-family: 'titillium_bold', sans-serif;
}

body,
input[type='text'] {
  font-family: 'titillium', sans-serif;
  font-size: $font-size; // 18px; use multiples of 1.5 for font tweaks
}

em, q {
  font-family: 'titillium_italic', sans-serif;
}

nav {
  font-family: 'ubuntu', sans-serif;
}

code {
  font-family: 'sharetech', monospace;
}

// basic layout spec
.header-wrapper,
.main-wrapper,
.member-wrapper,
.footer-wrapper {
  max-width: $grid-val * 43; // 30 * 43 = 1290px
  width: 100%;
  margin: 0 auto;
  padding: 0 $grid-val;
  & > * {
    margin-left: $grid-val/2;
    margin-right: $grid-val/2;
  }
}

main {
  img {
    width: 100%;
  }
}

.base-grid { // default to mobile grid of 1 column
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  grid-template-areas: "header" "body" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: body;
}

footer {
  grid-area: footer;
}

