/* Applies to all code blocks */
pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: $bg-grey;
    border-radius: 3px;
}

code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    background-color: $bg-grey;
    white-space:pre-wrap;
    // not language specific...
    .kd {
        color: mediumslateblue;
    }
    .kt {
        font-weight: bold;
    }
    .kt, .nc {
        color: forestgreen;
    }
    .nf {
        color: darkkhaki;
    }
    .n {
        color: deepskyblue;
    }

    .k {
        color: crimson;
    }
}

// java
.language-java{ 
    .kd {
        color: mediumslateblue;
    }
    .kt {
        font-weight: bold;
    }

    .kt, .nc {
        color: forestgreen;
    }
    .nf {
        color: darkkhaki;
    }
    .n {
        color: deepskyblue;
    }

    .k {
        color: crimson;
    }
}
