/*
7:3 two column generic layout specific styling
some styling is specified in col-sidebar
*/

.col-generic { // default layout on desktop
  .main-wrapper { // grid for main content area
    display: grid;
    margin: 0 auto $grid-val auto;
    grid-template-rows: auto 1fr;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: 
            "body side"
            "body list"
  }
}

.news-events-wrapper {
  grid-area: list;
}


@media screen and (max-width: $content-bp - 1) { // 839px
  .col-generic { 
    // 1-column on mobile
    .main-wrapper {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-template-areas:
              "title"
              "body"
              "side"
              "list";
    }
  }
}

// search results page

.search-results {
  font-family: $site-font, sans-serif !important;
  margin-bottom: 30px;
  form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    input[type='text'] {
      width: 100%;
      max-width: 240px;
      border: 2px solid #dddddd;
      margin-right: 5px;
      padding: 6px;
      border-radius: 0;
      &:focus {
        border-color: $cta-blue;
      }
      &:placeholder {
        color: $bg-grey;
      }
    }
    select {
      margin-left: auto;
    }
  }
  ul {
    @include no-bullet-list;
    margin-bottom: 30px;
    li:first-child {
      font-size: $font-size * 1.25;
    }
    li:nth-child(2) a {
      color: green;
      line-height: 1;
      font-size: $font-size * 0.8;
    }
  }
}

@media screen and (max-width: 560px) {
  .search-results {
    form {
      select {
        margin-left: 0;
        margin-top: 10px;
        height: 30px;
        width: 200px;
      }
    }
  }
}