/*
7:3 two column generic layout specific styling
some styling is specified in col-sidebar
*/

.col-generic { // default layout on desktop
  .main-wrapper { // grid for main content area
    display: grid;
    margin: 0 auto $grid-val auto;
    grid-template-rows: auto 1fr;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: 
            "body side"
            "body list"
  }
}

.news-events-wrapper {
  grid-area: list;
}


@media screen and (max-width: $content-bp - 1) { // 839px
  .col-generic { 
    // 1-column on mobile
    .main-wrapper {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-template-areas:
              "title"
              "body"
              "side"
              "list";
    }
  }
}