/*
7:3 two column layout specific styling
*/

.col-sidebar { // default layout on desktop
  .main-wrapper { // grid for main content area
    display: grid;
    margin: $grid-val auto;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: 
            "menu  github"
            "intro side"
            "body  side";
  }
}

.sub-nav {
  grid-area: menu;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include nav-menu;

}

.page-intro {
  grid-area: intro;
}

.page-body {
  grid-area: body;
}

.github-buttons {
  grid-area: github;
  display: flex;
  justify-content: center;
  & > * {

  }
}

.sidebar {
  grid-area: side;
  padding: 0 $grid-val/2;
  background-color: whitesmoke;
  & > * {
    margin: $grid-val/2 0;
  }
  & > * + * { // targets any direct descendant that has a neighbor element
    margin: $grid-val 0;
  }
  ul {
    @include no-bullet-list;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.video-container { // TBD, placeholder for testing Youtube embeds
  position: relative;
  max-width: 100%;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

  }
}

.sub-nav {
  li {
    margin-bottom: $grid-val/3;
  }
}

@media screen and (max-width: $content-bp - 1) { // 1-column on mobile
  .col-sidebar { 
    .main-wrapper {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-template-areas:
              "intro"
              "github"
              "menu"
              "body"
              "side";
    }
    .sub-nav {
      ul {
        margin: $grid-val 0;
      }
    }
  }
}