/*
7:3 two column layout specific styling
*/

.col-sidebar { // default layout on desktop
  .main-wrapper { // grid for main content area
    display: grid;
    margin: 0 auto $grid-val auto;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: 
            "title  github"
            "menu side"
            "body  side";
  }
}

.sub-nav {
  grid-area: menu;
  padding: 15px 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include nav-menu;
  & li {
    margin-bottom: 10px;
  }

  ul a{
    margin: 0px;
  }
}

.tab {
  // noted for potential accessibility change
  &:focus {
    outline: 0;
  }
}

.tab-hidden {
  display:none;
}

.tab-link {
  background-color: #ddd;
    padding: 8px;
    border-radius: 8px 0px;
    border-top-color: black;
    border-top-width: 3px;
    border-top-style: solid;
}

.page-title {
  grid-area: title;
}

.page-body {
  grid-area: body;
  & > *:first-child {
    margin-top: 0;
  }
}

.github-buttons {
  grid-area: github;
  display: flex;
  align-items: center;

  span {
        margin-right: 12px;
      }
}




.sidebar {
  grid-area: side;
  padding: 0 15px;
  background-color: lighten($bg-blue, 65%);
  & > * {
    margin: 15px 0;
  }
  & > * + * { // targets any direct descendant that has a neighbor element
    margin: 30px 0;
  }
  ul {
    @include no-bullet-list;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.video-container { // TBD, placeholder for testing Youtube embeds
  position: relative;
  max-width: 100%;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

  }
}


@media screen and (max-width: $content-bp - 1) { // 839px
  .col-sidebar { 
    // 1-column on mobile
    .main-wrapper {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-template-areas:
              "title"
              "github"
              "menu"
              "body"
              "side";
    }
    .sub-nav,
    .github-buttons {
      padding: 15px 0;
    }
  }
}