/*
7:3 two column generic layout specific styling
*/

.col-generic { // default layout on desktop
  .main-wrapper { // grid for main content area
    display: grid;
    margin: 0 auto $grid-val auto;
    grid-template-rows: auto 1fr;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: 
            "body side"
            "body list"
  }
}

.page-body {
  grid-area: body;
  & > *:first-child {
    margin-top: 0;
  }
}

.news-events-wrapper {
  grid-area: list;
}

.sidebar {
  grid-area: side;
  padding: 0 $grid-val/2;
  background-color: whitesmoke;
  & > * {
    margin: $grid-val/2 0;
  }
}

.video-container { // TBD, placeholder for testing Youtube embeds
  position: relative;
  max-width: 100%;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

  }
}

@media screen and (max-width: $content-bp - 1) { // 1-column on mobile
  .col-generic { 
    .main-wrapper {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-template-areas:
              "title"
              "body"
              "side"
              "list";
    }
  }
}