/*
site-wide reusable components styling
*/

// member section by the footer
.member {
  margin: 0;
  padding: 0;
  background-color: $bg-grey;
}

.member-list {
  div {
    display: flex;
    flex-wrap: wrap;
  }
  a {
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
  }
}

.alt-member-logo {
  display: flex;
  align-items: center;
  max-width: 130px;
  height: 90px;
  margin: 0;
  text-align: center;
  filter: grayscale(100%);
  img {
    max-width: 70%;
    margin: 0 auto;
   
  }

  &:hover {
      filter: none;
  }
}

.member-logo {
  display: flex;
  align-items: center;
  max-width: 150px;
  height: 90px;
  margin: 0 15px;
  text-align: center;
  filter: grayscale(100%);
  img {
    max-width: 70%;
    margin: 0 auto;
   
  }

  &:hover {
      filter: none;
  }
}

.member-spotlight {
  img {
    max-width: 200px;
    margin: 10px auto;
  }

  p {
    font-size: 16px;
  }
}

.member-cta {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

// news and events list
.news-events {
  ul {
    padding: 0;
    list-style: none;
    & > * + * {
      margin-top: 15px;
    }
  }
  li {
    padding-left: 10px;
    border-left: 5px solid lighten($cta-blue, 40%);
    &:hover {
      border-color: $cta-blue;
    }
    &:active {
      border-color: darken($cta-blue, 10%);
    }
  }
  a {
    color: $cta-blue;
    text-decoration: none;
    &:hover {
      color: lighten($cta-blue, 5%);
    }
    &:active {
      color: darken($cta-blue, 10%);
    }
    &:visited {
      color: darken($cta-blue, 25%);
    }
  }
}

// standalone link block that takes up a whole line
.callout-link {
  display: block;
  margin: 15px 0;
  font-family: 'ubuntu_medium', sans-serif;
  color: $cta-blue;
  text-decoration: none;
  &:hover {
    color: lighten($cta-blue, 5%);
    text-decoration: underline;
  }
  &:active {
    color: darken($cta-blue, 10%);
  }
}

// quote styling, can be used with or without blockquote
.callout-mono {
  margin: 45px 0;
  font-family: 'sharetech', monospace;
  font-size: $font-size*2;
  line-height: 1.3;
  color: lighten(black, 50%);
  &.right {
    text-align: right;
    padding-right: 45px;
    border-right: 10px solid lighten(grey, 40%);
    border-radius: 15px;
  }
  &.left {
    text-align: left;
    padding-left: 45px;
    border-left: 10px solid lighten(grey, 40%);
    border-radius: 15px;
  }

  &.small {
    font-size: 20px;
  }
}

// full-width profile photo + copy component
.profile-copy {
  display: inline-block;
  width: 100%;
  margin: $font-size*2 0;
  &.right {
    img {
      float: right;
      margin: 0 0 6px 3px;
    }
  }
  &.left {
    img {
      float: left;
      margin: 0 30px 6px 0;
    }
  }
  img {
    max-width: 180px;
    border: 2px solid whitesmoke;
  }
  .name {
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: $font-size*1.5; // 27px
  }
  .title {
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: $font-size*1.25; // 22.5px
  }
}

// call-to-action buttons
.cta-button {
  padding: 9px 15px;
  border-width: 0;
  border-radius: 4.5px;
  font-size: $font-size;
  color: white;
  background-color: $cta-blue;
  font-family: 'ubuntu', sans-serif;
  text-decoration: none !important;
  &:not([disabled]):hover {
    color: white;
    background-color: lighten($cta-blue, 5%);
  }
  &:active {
    color: white;
    background-color: darken($cta-blue, 5%);
  }
  &:visited {
    color: white;
  }

  &.dark {
    background-color: $dark;
    &:not([disabled]):hover {
      background-color: lighten($dark, 5%);
    }
    &:active {
      background-color: darken($dark, 5%);
    }
  }
  &.green {
    background-color: $success;
    &:not([disabled]):hover {
      background-color: lighten($success, 2.5%);
    }
    &:active {
      background-color: darken($success, 5%);
    }
  }
  &.grey {
    background-color: $grey;
    color: $dark;
    &:not([disabled]):hover {
      background-color: lighten($grey, 2.5%);
    }
    &:active {
      background-color: darken($grey, 5%);
    }
  }
  &.black {
    background-color: black;
    &:not([disabled]):hover {
      background-color: lighten(black, 2.5%);
    }
    &:active {
      background-color: darken(black, 5%);
    }
  }
  &.red {
     background-color: red;
     &:not([disabled]):hover {
      background-color: lighten(red, 2.5%);
    }
    &:active {
      background-color: darken(red, 5%);
    }
  }
  &.white {
     background-color: white;
     color: black !important;
     &:not([disabled]):hover {
       color:black !important;
      background-color: darken(white, 2.5%);
    }
    &:active {
      color:black !important;
      background-color: lighten(white, 5%);
    }
   &.small {
    padding: 4px 8px !important;
    border-radius: 2.25px !important;
    font-size: $font-size * 0.85 !important;
    }
  }

   //below is select state button like on event registration form 
  &.selected {
      background-color: #ff0000;
      color: #ffffff;

      &:hover {
        background-color: #ff0000;
        color: #ffffff;    
      }
    }
}
.cta-button[disabled=true] {
    color: $dark;
    background-color: $grey;
}

// table component styling
.table {
  thead {
    font-weight: 700;
  }
  td, tr {
    padding: 15px;
    border: 2px solid lighten(grey, 30%);
  }
  tbody {
    tr:nth-child(odd) {
      background-color: $bg-grey;
    }
    tr.even td:first-child p {
      text-align: center;
      min-width: 35px;
    }
  }
}

// same for default tables
table {
  thead {
    font-weight: 700;
  }
  th, td, tr {
    padding: 15px;
    border: 2px solid lighten(grey, 30%);
  }
  tbody {
    tr:nth-child(odd) {
      background-color: $bg-grey;
    }
  }
}

.featured-proj-image {
  float: left;
  max-height: 205px;
  padding-right: 15px;
}

// site-wide announcement banner styling
#banner {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 45px;
  & > *,
  & > * > * {
    margin: 0;
    padding: 0;
    color: white;
  }
  a {
    text-decoration: underline;
  }
  a#close-banner {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: $font-size*1.5; // 27px
    color: currentColor;
    opacity: 0.2;
    line-height: 0;
    &:hover,
    &:active {
      opacity: 0.5;
    }
  }
  &.notice {
    background-color: $bg-blue;
  }
  &.warning {
    background-color: $warning;
  }
  &.success {
    background-color: $success;
  }
}

#disclaimer-container {
  display: flex;
  opacity: 0;
  background-color: rgba(20,20,20,0.8);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  width:100%;
  z-index: 1;
}

.disclaimer-content {
  min-height: 26px;
  color: #ccc;
  font-size: .85em;
  display: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 15px 45px;
  & > *,
  & > * > * {
    margin: 0;
    padding: 0;
    color: white;
  }
}

#disclaimer {
  min-height: 26px;
  min-width: 93%;
  color: #ccc;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 45px;
  & > *,
  & > * > * {
    margin: 0;
    padding: 0;
    color: white;
  }
}

#close-disclaimer {
  float: right;
  cursor: pointer;
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 15px 45px;
  & > *,
  & > * > * {
    margin: 0;
    padding: 0;
    color: white;
  }
}

#close-disclaimer:hover {
  color: #FFF;
}
#disclaimer a.disclaimerOK {
  background-color: #F1D600;
  color: #000;
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  float: right;
  margin: 0 60px 0 10px;
  min-width: 100px;
}
#disclaimer a.disclaimerOK:hover {
  background-color: #E0C91F;
}

#disclaimer p {
  min-width:80%;
}

.sitemap {
  h2 {
    color: $dark;
    margin-bottom: 10px;
  }
  ul {
    @include no-bullet-list;
  }
}

@media screen and (min-width: $content-bp) { // 840px
  .member-wrapper { // grid for member section
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .alt-member-wrapper { // grid for member section
    display: grid;
    grid-template-columns: 1fr;
  }

  .sitemap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $grid-val;
  }

}

@media screen and (max-width: 840px) {
  .member-list {
    div {
      justify-content: center;
    }
  }
  .member-logo {
    max-width: 80px;
    height: 144px;
  }

  .featured-proj-image {
    float:none;
    padding-right: 0;
  }
}

@media screen and (max-width: 420px) {
  .member-list {
    div {
      justify-content: center;
    }
  }
  .member-logo {
    max-width: 80px;
    height: 144px;
  }

  #disclaimer a.disclaimerOK {
    padding: 0 16px;
    cursor: pointer;
    float: right;
    margin: 0 0 0 10px;
    min-width: 80px;
    font-size: smaller;
  }
}
