/*
site-wide reusable components styling
*/

// member section by the footer
.member {
  margin: 30px 0;
  padding: 15px 0;
  background-color: $bg-grey;
}

.member-list {
  div {
    display: flex;
    flex-wrap: wrap;
  }
  a {
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
  }
}

.member-logo {
  display: flex;
  align-items: center;
  max-width: 150px;
  height: 120px;
  margin: 0 15px;
  text-align: center;
  filter: grayscale(100%);
  img {
    max-width: 70%;
    margin: 0 auto;
   
  }

  &:hover {
      filter: none;
  }
}

.member-spotlight {
  img {
    max-width: 200px;
    margin: 30px auto;
  }
}

.member-cta {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

@media screen and (min-width: $content-bp) { // 840px
  .member-wrapper { // grid for member section
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 420px) {
  .member-list {
    div {
      justify-content: center;
    }
  }
  .member-logo {
    max-width: 180px;
    height: 144px;
  }
}



// news and events list
.news-events {
  ul {
    padding: 0;
    list-style: none;
    & > * + * {
      margin-top: 15px;
    }
  }
  li {
    padding-left: 10px;
    border-left: 5px solid lighten($cta-blue, 40%);
    &:hover {
      border-color: $cta-blue;
    }
    &:active {
      border-color: darken($cta-blue, 10%);
    }
  }
  a {
    color: $cta-blue;
    text-decoration: none;
    &:hover {
      color: lighten($cta-blue, 5%);
    }
    &:active {
      color: darken($cta-blue, 10%);
    }
    &:visited {
      color: darken($cta-blue, 25%);
    }
  }
}

// standalone link block that takes up a whole line
.callout-link {
  display: block;
  margin: 30px 0;
  font-family: 'ubuntu_medium', sans-serif;
  color: $cta-blue;
  text-decoration: none;
  &:hover {
    color: lighten($cta-blue, 5%);
    text-decoration: underline;
  }
  &:active {
    color: darken($cta-blue, 10%);
  }
}

// quote styling, can be used with or without blockquote
.callout-mono {
  margin: 45px 0;
  font-family: 'sharetech', monospace;
  font-size: $font-size*2;
  line-height: 1.3;
  color: lighten(black, 50%);
  &.right {
    text-align: right;
    padding-right: 45px;
    border-right: 10px solid lighten(grey, 40%);
    border-radius: 15px;
  }
  &.left {
    text-align: left;
    padding-left: 45px;
    border-left: 10px solid lighten(grey, 40%);
    border-radius: 15px;
  }
}

// full-width profile photo + copy component
.profile-copy {
  display: inline-block;
  width: 100%;
  margin: $font-size*2 0;
  &.right {
    img {
      float: right;
      margin: 0 0 6px 3px;
    }
  }
  &.left {
    img {
      float: left;
      margin: 0 30px 6px 0;
    }
  }
  img {
    max-width: 180px;
    border: 2px solid whitesmoke;
  }
  .name {
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: $font-size*1.5; // 27px
  }
  .title {
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: $font-size*1.25; // 22.5px
  }
}

// call-to-action buttons
.cta-button {
  padding: 9px 15px;
  border-width: 0;
  border-radius: 4.5px;
  font-size: $font-size;
  color: white;
  background-color: $cta-blue;
  font-family: 'ubuntu', sans-serif;
  text-decoration: none !important;
  &:hover {
    color: white;
    background-color: lighten($cta-blue, 5%);
  }
  &:active {
    color: white;
    background-color: darken($cta-blue, 5%);
  }
  &:visited {
    color: white;
  }
  &.dark {
    background-color: $dark;
    &:hover {
      background-color: lighten($dark, 5%);
    }
    &:active {
      background-color: darken($dark, 5%);
    }
  }
  &.green {
    background-color: $success;
    &:hover {
      background-color: lighten($success, 2.5%);
    }
    &:active {
      background-color: darken($success, 5%);
    }
  }
  &.grey {
    background-color: $grey;
    color: $dark;
    &:hover {
      background-color: lighten($grey, 2.5%);
    }
    &:active {
      background-color: darken($grey, 5%);
    }
  }
  &.black {
    background-color: black;
    color: white;
    &:hover {
      background-color: lighten(black, 2.5%);
    }
    &:active {
      background-color: darken(black, 5%);
    }
  }
  &.red {
     background-color: red;
     color: white;
     &:hover {
      background-color: lighten(red, 2.5%);
    }
    &:active {
      background-color: darken(red, 5%);
    }
  }
}

// table component styling
.table {
  thead {
    font-weight: 700;
  }
  td, tr {
    padding: 15px;
    border: 2px solid lighten(grey, 30%);
  }
  tbody {
    tr:nth-child(odd) {
      background-color: $bg-grey;
    }
  }
}

// same for default tables
table {
  thead {
    font-weight: 700;
  }
  th, td, tr {
    padding: 15px;
    border: 2px solid lighten(grey, 30%);
  }
  tbody {
    tr:nth-child(odd) {
      background-color: $bg-grey;
    }
  }
}

// site-wide announcement banner styling
#banner {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 45px;
  & > *,
  & > * > * {
    margin: 0;
    padding: 0;
    color: white;
  }
  a {
    text-decoration: underline;
  }
  a#close-banner {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: $font-size*1.5; // 27px
    color: currentColor;
    opacity: 0.2;
    line-height: 0;
    &:hover,
    &:active {
      opacity: 0.5;
    }
  }
  &.notice {
    background-color: $bg-blue;
  }
  &.warning {
    background-color: $warning;
  }
  &.success {
    background-color: $success;
  }
}

// sitemap 

@media screen and (min-width: $content-bp) {
  .sitemap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $grid-val;
  }
}

.sitemap {
  h2 {
    color: $dark;
    margin-bottom: 10px;
  }
  ul {
    @include no-bullet-list;
  }
}