.document {

    nav {
        ol {
            list-style-type: none;
            
            .page .previous .next {
                display: inline-block;
            }

            .previous a::before {
                display: inline-block;
                color: #000;
                content: '<';
                font-size: 80%;
                font-weight: bold;
                padding: 0 3px;
            }
            .next a::after {
                display: inline-block;
                color: #000;
                content: '>';
                font-size: 80%;
                font-weight: bold;
                padding: 0 3px;
            }
        }
    }
}