
.event header {
	background-position: center center;
	background-repeat: repeat-y, no-repeat;
	background-size: cover, cover;
	width: 100%;
	font-size: 100%;
	justify-content: space-around;
	background-color: $dark;
	margin-bottom: 0px;
}
.info-h3 {
	float: left;
}

.info-h4 {
	float: left;
	margin-left: 8px;
}

.event-wrapper {
	margin-top: 16px;
}

.event {
	.desktop-logo, .alt-logo {
		img {
			filter: invert(100%);
		}
	}
	.top-nav, .alt-nav {
		a {
			color: white;

			&:hover{
				color: lightblue;
			}
			img {
				filter: invert(100%);
			}
		}
	}

	section {
		margin: auto;
		max-width: $grid-val * 44; // 30 * 45 = 1320px
	}
	h1,h2,h3 {
		margin-left: 16px;
	}
}

.event {
	.dropdown-menu {
		 li {
			  background-color: gray;
			  color: black;
			  
			  &:hover {
				background-color: lighten(gray, 10%);
			  }
			  &:active {
				background-color: darken(gray, 5%);
			  }
			  &.separator {
				border-top: 3px solid lighten(gray, 15%);
			  }
			  a, a:active, a:focus, a:hover, a:visited {
				color:white;
				text-decoration: none;
			  }
			}
			// pseudo class for triangle shape tip
			&:after {
				position: absolute;
				left: 40px;
				margin-left: -20px;
				top: 0px;
				width: 0;
				height: 0;
				content:'';
				z-index: -1;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
			    border-bottom: 20px solid gray;
			}
	}
}
/*
.event-image-container {
	background-position: center center;
	background-repeat: repeat-y, no-repeat;
	background-size: cover, cover;
	padding: 16em 16em 4em 16em;
	justify-content: space-around;
	max-width: 45%;
	height: 100%;
	background-color:gray;
	float:right;
	margin-right: 13%;
  }*/

  .event-image-container {
	background-position: center center;
	background-repeat: repeat-y, no-repeat;
	background-size: cover, cover;
	padding: 8em 4em 8em 4em;
	justify-content: space-around;
	max-width: 100%;
	max-height: 300px;
	background-color: gray;
	text-align:center;
	hr {
		max-width: 33%;
		margin-left: 33%;
	}
  }

.alt-wrapper {
	display: inline-block;
	background-color:ghostwhite;
}

.alt-wrapper:nth-child(even) {
	background-color:white;
}

.event-cover {
	position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 288px;
    background: linear-gradient(to right,$bg-grey, $bg-grey, transparent 78%);
}

.event-header-info {
	position: absolute;
	top: 128px;
	left: 168px;
	width: 100%;
	height: 300px;
	text-align:left;
	color: black;
	z-index: 9;
}

section.keynotes-front {
	margin: 0em;
	padding: 0;
	h2 {
		display: flex;
		justify-content: center;
		font-weight: bold;
	}
	ul {
		display: flex;
		justify-content: center;
		margin: 0em;
		padding: 0em;

		li {
			list-style-type: none !important;
			max-width: 200px;
			width: 33.333%;
			min-width: 175px;
			height: 250px;
			flex-shrink: 0;
			flex-grow: 0;
	
			a {
				filter: grayscale(100%);
				position: relative;
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				color: inherit;
				text-decoration: none;
				width: 100%;
				height: 100%;
				display: block;

				&:hover {
					filter: grayscale(0%);
				}


				h4 {
					width: 100%;
					position: absolute;
					bottom: 0px;
					text-align: center;
					background: rgba(0,0,0,0.5);
					font-weight: normal;
					color:white;
				}
			}
		}
	}
}

.event ul {
	list-style-type: none;
	padding-inline-start: 16px;
}

.event-pricing {
	float: right;
	max-width: 40%;
	padding: 12px;
	background-color: $bg-grey;
	box-shadow: 0 2px 3px #d8d8d8;
	border-radius: 4px;
}

.event-price {
	float:right;
	padding-left: 16px;
	font-weight: normal;
}

.event-price-title {
	font-weight: bold;
}

@media (max-width: 500px) {


	.event header {
		padding: 1em 1em 1em 1em;
		font-size: 80%;
		}

	.event-image-container {
		max-height: 600px;
		line-height: 1.25;
		padding: 16em 4em 16em 4em;
	}
}
