
.event header {
	background-position: center center;
	background-repeat: repeat-y, no-repeat;
	background-size: cover, cover;
	width: 100%;
	padding: .5em;
	font-size: 100%;
 	justify-content: space-around;
}

.event-image {
	background-position: center center;
	background-repeat: repeat-y, no-repeat;
	background-size: cover, cover;
	padding: 16em 16em 4em 16em;
	justify-content: space-around;
	max-width: 45%;
	height: 100%;
	background-color:gray;
	float:right;
	margin-right:2%;
  }

@media (max-width: 500px) {


	.event header {
		padding: 1em 1em 1em 1em;
		font-size: 80%;
		}
	
}
