div.keynote-full {
	ul {
		list-style: none;
	}
	li {
		padding-left: 210px;
		padding-bottom:40px;
		list-style-type: none !important;
		clear: both;
	}

	img {
		width: 200px; 
		height: 200px; 
		border-radius: 50%;
		float: left;
		background-size: cover;
		margin-left:-240px;
	}

	p {
		margin: 0px;
		text-indent:20px;
		padding:0px;
	}
}

@media (max-width: 500px) {
	section.keynotes-front {
		ul {
			display: block;
			li {
				width: 100%;
				max-width: 100%;
				height: 250px;
				background-position: center center;
			}
		}
	}
	div.keynote-full {
		ul {
			padding: 0 0 0 0;
			
			li {
				padding-left: 0px;
			}
			img {
				float: none;
				margin-left: 0px;
				margin: 0 auto;
			}
		}
	}
}



