/*
navigation related styling
header, footer, mobile navigation menu
*/

// desktop nav
.header-wrapper {
  height: 120px;
}

.desktop-logo {
  display: inline-block;
  img {
    width: 100%;
    max-width: $grid-val*5; // 150px
  }
}

.search-bar {
  width: 100%;
  max-width: $grid-val * 6; // 180px
  border: 2px solid #dddddd;
  padding: 6px;
  border-radius: 0;
  &:focus {
    border-color: $cta-blue;
  }
  &::placeholder {
    color: grey;
  }
}

.site-search {
  display: flex;
  align-items: center;
  min-width: $grid-val * 7;
  & > span {
    margin-right: $grid-val/3;
    cursor: pointer;
    color: $cta-blue;
    &:hover {
      color: lighten($cta-blue, 10%);
    }
  }
  & > .search-bar {
    display: none;
  }
}

.top-nav,
.bot-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include nav-menu;
}

.top-nav {
  .nav-button > a {
    @include cta-button;
  }
  .nav-button > * + * {
    margin-left: $grid-val/3;
  }
}

.dropdown-menu {
  position: absolute;
  padding: 0;
  li {
    padding: 15px 20px;
    background-color: $bg-blue;
    color: white;
    &:first-child {
      margin-top: 10px;
    }
    &:hover {
      background-color: lighten($bg-blue, 10%);
    }
    &:active {
      background-color: darken($bg-blue, 5%);
    }

  }
  &:after {
    position: absolute;
    left: 15%;
    margin-left: -20px;
    top: 0px;
    width: 0;
    height: 0;
    content:'';
    z-index: -1;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $bg-blue;
  }
}

.bot-nav {
  li {
    margin-bottom: $grid-val/3;
  }
  a:first-child {
    margin-left: 0;
  }
}

.footer-wrapper {
  margin: $grid-val 0;
  .disclaimer {
    margin-top: $grid-val/2;
  }
}


@media screen and (min-width: $header-bp) {
  .alt-nav {
    @include remove-el;
  }
}

// mobile nav 
.alt-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggler {
  // display: block;
  font-size: $grid-val;
  color: #222222;
}

// mobile menu drawer, displays when toggled on
.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 3;
  overflow: scroll;
  background-color: $bg-blue;
  box-shadow: 2px 0 10px #000000;
  li {
    padding: 12px 15px;
    &:first-child {
      margin-bottom: $grid-val/2;
      font-size: $grid-val;
    }
    &:not(:nth-child(-n+2)) {
      border-top: 1px solid lighten($bg-blue, 5%);
    }
  }
  input[type='text'] {
    width: 100%;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .nav-button {
    margin-top: $grid-val/3;
    & > a {
      @include cta-button;
      margin-right: $grid-val/3;
    }
  }
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.alt-logo {
  display: block;
  margin: $grid-val/2 auto;
  max-width: $grid-val * 5; // 210px
  img {
    width: 100%;
  }
}

// banner styling
#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $grid-val $grid-val*1.5;
  & > *,
  & > * > * {
    margin: 0;
    padding: 0;
    color: white;
  }
  a#close-banner {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: $grid-val;
    color: currentColor;
    opacity: 0.2;
    line-height: 0;
    &:hover,
    &:active {
      opacity: 0.5;
    }
  }
  &.notice {
    background-color: $bg-blue;
  }
  &.warning {
    background-color: #892727;
  }
}

@media screen and (max-width: $header-bp - 1) { // 1019px
  // replace desktop nav with mobile nav
  .top-nav {
    @include remove-el;
  }
  .header-wrapper {
    max-height: $grid-val * 2.5; // 75px
    margin-bottom: $grid-val/2;
    background-color: whitesmoke;
    box-shadow: 0 1px 2px #cccccc;
  }
}

@media screen and (min-width: $content-bp) { // 840px
  .bot-nav {
    // hide first 5 footer links on desktop 
    ul > li:nth-child(-n+5) {
      @include remove-el;
    }
  }
}

@media screen and (max-width: $content-bp - 1) {
  // restyling for ease of use on mobile
  .bot-nav {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
  }
}

// member partial styling
.member {
  margin: $grid-val 0;
  padding: $grid-val/2 0;
  background-color: whitesmoke;
}

.member-list {
  div {
    display: flex;
    flex-wrap: wrap;
  }
}

.member-logo {
  display: flex;
  align-items: center;
  max-width: $grid-val*5;
  height: $grid-val*4;
  margin: 0 $grid-val/3;
  text-align: center;
  img {
    max-width: 70%;
    margin: 0 auto;
  }
}

.member-spotlight {
  img {
    max-width: 200px;
    margin: $grid-val auto;
  }
}

.member-cta {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $grid-val;  
}


@media screen and (min-width: $content-bp) {
  .member-wrapper { // grid for member section
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: $content-bp) {
  .main-wrapper,
  .member-wrapper,
  .footer-wrapper {
    & > * {
      margin: 0 0;
    }
  }
}