div.projects-list{ 
    a.inactive {
        text-decoration: underline;
        color: $cta-blue;
        cursor: pointer;
    }
    a.active {
        text-decoration: none;
        color: #000;
        cursor: pointer;
    }
}

.milestones li div{
    float: left;
    padding-right: 24px;
}
.milestone_header {
    font-weight: bold;
}

.milestone_project {
    color:blue;
}

.milestone_members {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
