<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}

    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body class="base-grid col-sidebar">

    <div id="blocker"></div>

    {% include noscript.html %}
    {% include header.html %}

    <main role="main">
      <div class="main-wrapper">
        {% include sub-nav.html %}

        <h1 class="page-title">{{ page.title }}</h1>

        <div id="main" class="page-body tab" role="tabpanel" aria-labelledby="main-link" tabindex="0">
         <section class="homepage-blog">
            <a><img src="{{ page.author_image }}" alt="image"></a>
            <p class="author"><a>{{ page.author }}</a></p>
            <p>{{ page.date | date: "%A, %B %e, %Y" }} {{ content }}</p>
          </section>
       </div>

          {% include github-buttons.html %}
          {% include blogsidebar.html %}
      </div>
    </main>

    {% include footer.html %}
    
  </body>
</html>
