<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="base-grid col-sidebar">

    <div id="blocker"></div>

    {% include noscript.html %}
    {% include header.html %}

    <main role="main">
      <div class="main-wrapper">
        {% include sub-nav.html %}

        <h1 class="page-title">{{ page.title }}</h1>

        <div id="main" class="page-body tab" role="tabpanel" aria-labelledby="main-link" tabindex="0">
         <section class="homepage-blog">
            <a><img src="{{ page.author_image }}" alt="image"></a>
            <p class="author"><a>{{ page.author }}</a></p>
            <p>{{ content }}</p>
          </section>
       </div>

        <div class="github-buttons">
         <iframe src="https://ghbtns.com/github-btn.html?user=twbs&repo=bootstrap&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
         <iframe src="https://ghbtns.com/github-btn.html?user=twbs&repo=bootstrap&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
       </div>
          {% include blog_sidebar.html %}
      </div>
    </main>

    {% include footer.html %}
    
  </body>
</html>
